*
{
  -webkit-box-sizing:  border-box;
  -moz-box-sizing:  border-box;
  box-sizing: border-box;
  font-family: Arial;
}

table
{
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

td
{
  overflow: hidden;
  padding: 0px 5px;
  vertical-align: top;
  padding: 0px 18px;
}

a:HOVER
{
	text-decoration: none;
}

table img
{
  margin: 20px 0px;
}

/*dark blue*/
.bgColor1
{
	background-color: #445272;
}

.color1
{
	color: #445272;
}

/* dark orange */
.bgColor2
{
  background-color: #e87e05;
}

.color2
{
  color: #e87e05;
}

/* light orange */
.bgColor3
{
  background-color: #f9b233;
}

.color3
{
  color: #f9b233;
}

/* white */
.bgColor4
{
  background-color: #ffffff;
}

.color4
{
  color: #ffffff;
}

.bold
{
	font-weight: bold;
}

.not-bold
{
	font-weight: normal;
}

.text-big
{
  font-size: 24px;
}

.text-medium
{
	font-size: 19px;
}

.text-normal
{
  font-size: 16px;
}

.text-small
{
	font-size: 14px;
}

.text-very-small
{
  font-size: 12px;
}

.qts-btn
{
	border: 0px;
  margin: 5px 0px;
  padding: 8px 40px 8px 40px;
  text-align: center;
  min-width: 80px;
  cursor: pointer;
  font-size: 14px;
  min-height: 20px;
  position: relative;
}

.qts-small-btn
{
	border: 0px;
  margin: 3px 0px 0px 0px;
  padding: 3px 20px 3px 20px;
  text-align: center;
  min-width: 80px;
  cursor: pointer;
  font-size: 13px;
  min-height: 20px;
  position: relative;
}

.qts-icon-btn
{
  border: 0px;
  margin: 5px 0px;
  padding: 8px;
  text-align: center;
  min-width: 40px;
  cursor: pointer;
  min-height: 20px;
}

.qts-btn-style1:HOVER {
  background-color: #e87e05;
}

.qts-btn-style1, .qts-btn-style1:disabled
{
  color: white;
  background-color: #f9b233;
}

.qts-btn-style2:HOVER {
  background-color: rgba(255,255,255,0.9);
}

.qts-btn-style2, .qts-btn-style2:disabled
{
  color: #445272;
  background-color: rgb(255,255,255);
}

.qts-btn-style3:HOVER {
  background-color: #283959;
}

.qts-btn-style3, .qts-btn-style3:disabled
{
  color: white;
  background-color: #445272;
}

.qts-btn-style4:HOVER {
  text-decoration: underline;
}

.qts-btn-style4, .qts-btn-style4:disabled
{
  color: #e87e05;
  background-color: transparent;
}

.successful
{
  background-color: #dff0d8;
}

.warnings
{
  background-color: #fcf8e3;
}

.errors
{
  background-color: #f2dede;
}

.errorsColor
{
  color: red;
}

.warningsColor
{
	color: orange;
}

.notVisible
{
	visibility: hidden;
}

.formFieldTitle
{
  padding-top:5px;
}

.page
{
  min-height: 450px;
}

.content
{
  width: 986px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.pagePart
{
  padding-top: 30px;
  padding-bottom: 30px;
}

.clickableText
{
	text-decoration: underline;
}

input[type="text"], input[type="password"], textarea
{
	background-color: #eaecf0;
	border: solid 1px #eaecf0;
	width: 300px;
	color: #445272;
}

input[type="text"]:disabled, input[type="password"]:disabled, 
textarea:disabled, input[type="submit"]:disabled, button:disabled
{
  opacity: 0.5;
}

input[type="submit"]
{
	display: block;
}