
*
{
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

header
{
	font-size: 22px;
}

#title
{
  padding-top: 20px;
  text-align: center;
}

#incompatible, #loading
{
  margin-top: 160px;
  min-height: 450px;
}

#loading
{
  font-size: 20px;
}

#logoContainer
{
	float: left;
	padding: 3px 12px;
}

#logo, #quantisLogo
{
	vertical-align: middle;
}

#quantisLink
{
  color:white;
}

#toolVersion
{
	display:inline-block;
	color:white;
	opacity: 0.5;
	font-size: 12px;
	line-height: 12px;
	max-width: 100px;
	overflow: hidden;
}

#mainMenu
{
	float: right;
  text-align: right;
  margin-right: 0px;
  padding-top: 20px;
}

#mainMenu li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.menuItem, .menuItem:HOVER, .menuItem:FOCUS {
	color: white;
}

.selectedmenuItem, .selectedmenuItem:VISITED, .selectedmenuItem:HOVER, .selectedmenuItem:FOCUS {
	text-decoration: none;
	color: #f9b233;
}

.footerContent
{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}