header
{
	font-size: 27px;
}

#title
{
  padding-top: 20px;
  padding-left: 30px;
  float: left;
}

#incompatible, #loading
{
  margin-top: 160px;
  min-height: 450px;
}

#loading
{
  font-size: 20px;
}

.content
{
	width: 986px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

#logoContainer
{
	float: left;
	background-color: white;
	padding: 3px 12px;
}

#logo, #quantisLogo
{
	vertical-align: middle;
}

#quantisLink
{
  margin-left: 220px;
  color:white;
  opacity: 0.5;
}

#mainMenu
{
	float: right;
  text-align: right;
  margin-right: 100px;
  padding-top: 20px;
}

#mainMenu li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.menuItem, .menuItem:HOVER, .menuItem:FOCUS {
	color: white;
}

.selectedmenuItem, .selectedmenuItem:VISITED, .selectedmenuItem:HOVER, .selectedmenuItem:FOCUS {
	text-decoration: none;
	color: #f9b233;
}