.loginTitle
{
	font-weight: bold;
	font-size: 25px;
}

form
{
	display: block;
}

form > .loginInput
{
	width: 220px;
}

form > .lastInput
{
	margin-bottom: 10px;
}

.centeredForm
{
	text-align: center;
}
.centeredForm > *
{
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
	text-align: left;
}

#loginSubmit
{
	display: inline;
}

.loginLoaderImg
{
	margin-left: 10px;
}

.loginLink
{
	text-decoration: underline;
	cursor: pointer;
}

.msgContainer
{
	height: 25px;
	margin-top: 5px;
}

.errorMsg
{
  color: red;
}

.loginModal .modal-body
{
	padding-left: 75px;
	padding-right: 75px;
}

#forceChangePwdModal .changePasswordBtns,
.loginModal .msgContainer
{
	text-align: center;
}

#resetPwdMsgContainer
{
	margin-top: 5px;
	height: 45px;
	text-align: center;
}
