.loginTitle
{
	font-weight: bold;
	font-size: 25px;
}

form > .loginInput
{
	width: 220px;
}

form > .lastInput
{
	margin-bottom: 10px;
}

#loginSubmit
{
	display: inline;
}

#loginLoaderImg
{
	margin-lect: 10px;
}

.errorMsg
{
  height: 25px;
  color: red;
  margin-top: 5px;
}

#forceChangePwdModal .modal-body
{
	padding-left: 75px;
	padding-right: 75px;
}