.loginTitle
{
	font-weight: bold;
	font-size: 25px;
}

form > .loginInput
{
	width: 220px;
}

form > .lastInput
{
	margin-bottom: 10px;
}

#loginSubmit
{
	display: inline;
}

#loginLoaderImg
{
	margin-left: 10px;
}

.msgContainer
{
	height: 25px;
	margin-top: 5px;
}

.errorMsg
{
  color: red;
}

#forceChangePwdModal .modal-body
{
	padding-left: 75px;
	padding-right: 75px;
}

#forceChangePwdModal .changePasswordBtns,
#forceChangePwdModal .msgContainer
{
	text-align: center;
}
