.stepTitle
{
	text-align: center;
	padding-right: 10px;
}

.stepText
{
	padding-top: 90px;
}

.stepBtn
{
  background-repeat: no-repeat no-repeat;
  background-position: center 35px;
  padding-left: 35px;
  padding-right: 15px;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.stepBtn:not(.disabledStep):hover
{
  color: #f9b233;
}

#step1
{
  background-image: url('../img/btn_step1.png');
  color: white;
}

#step1:not(.disabledStep):hover
{
	text-decoration: none;
  background-image: url('../img/btn_step1_over.png');
  color: #f9b233;
}

#step2
{
  background-image: url('../img/btn_step2.png');
  cursor: default;
}

#step2:hover
{
  color: white;
}

#step3Container
{
	position: relative;
}

#step3
{
  background-image: url('../img/btn_step3.png');
  position: relative;
  overflow: hidden;
  cursor: default;
}

#step3:not(.disabledStep):hover
{
  background-image: url('../img/btn_step3_over.png');
}

#step3 input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 96px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#step3 input.upload:disabled
{
	cursor: default;
}

#step3ContainerWhenDisabled
{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#step3CheckboxText
{
  color: white;
  font-weight: normal;
}

#step3fileNameContainer
{
  height: 25px;
}

#step4
{
  background-image: url('../img/btn_step4.png');
}

#step4:not(.disabledStep):hover
{
  background-image: url('../img/btn_step4_over.png');
}

.disabledStep
{
  opacity: 0.5;
  cursor: default;
}

#scsvDownloadBtn
{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}

.stepNavBtn
{
  font-size: 14px;
  color: #FFFFFF;
  background-color: #F9B233;
  cursor: pointer;
  min-height: 20px;
}

.stepNavBtn:HOVER {
  background-color: #e87e05;
}

#filenameContainer
{
	height: 40px;
}

.dbOptionLabel
{
	min-height: 20px;
}

.errors-and-warnings-table
{
	text-align: left;
	width: 100%;
	background-color: white;
}

.errors-and-warnings-table .tableCellColumn
{
	width: 70px; 
}

.errors-and-warnings-table .tableLabelColumn
{
  width: 220px; 
}

.odd {
  background-color: #eeeeee;
}
.even {
  background-color: #ffffff;
}

#fileLoadingModal img
{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0px;
	max-height: 100%;
	max-width: 100%;
}
