
#welcomeTextContainer
{
  width: 45%;
  float: left;
}

#loginContainer
{
  width: 45%;
  float: right;
  margin-left: 80px;
  min-height: 220px;
}

.pagePart
{
  padding-top: 30px;
  padding-bottom: 30px;
}

#contactSection > *
{
  display: inline-block;
  vertical-align: middle;
  margin-top: 30px;
}

#contactText
{
  padding-left: 15px;
  padding-right: 30px;
}

#contactBtn
{
  font-size: 22px;
  font-weight: bold;
}

#howToTitle
{
  margin-top: 20px;
}
