*
{
  -webkit-box-sizing:  border-box;
  -moz-box-sizing:  border-box;
  box-sizing: border-box;
}

form
{
	margin-top: 20px;
	margin-bottom: 20px;
}

#fileUploadBtn
{
  left: 455px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#resetUploadBtn
{
	display: none;
}

#scsvDownloadBtn
{
  left: 629px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#canBeStoredCheckbox
{
  display: none;
}

.odd {
  background-color: #eeeeee;
}
.even {
  background-color: #ffffff;
}